.idea
*.iml
target/
.vscode/settings.json
*.jar
sync/itemservice/.mvn/wrapper/maven-wrapper.jar
sync/itemservice/.mvn/wrapper/maven-wrapper.properties
sync/itemservice/.mvn/wrapper/maven-wrapper.jar
*.jar
sync/servicediscovery/.mvn/wrapper/maven-wrapper.jar
sync/cartservice/.mvn/wrapper/maven-wrapper.jar
sync/cartservice/.mvn/wrapper/maven-wrapper.jar
sync/cartservice/.mvn/wrapper/maven-wrapper.properties
*.jar
sync/apigateway/.mvn/wrapper/maven-wrapper.jar
sync/apigateway/.mvn/wrapper/maven-wrapper.properties
sync/apigateway/.mvn/wrapper/MavenWrapperDownloader.java
